@import "fonts.css";
/*BASE CONF*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat",sans-serif;
    background: #FAFAFA;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    border: none;
    background: none;
}
input {

}
/*BASE CONF*/
/*UNIQUE CONF*/
.row {
    display: flex;
}
.col-2 {
    width: 16.66666%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33333%;
}
.col-6 {
    width: 50%;
}
.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.container {
    max-width: 1060px;
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.section_title {
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    text-transform: capitalize;
}
.section_desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}
.rounded-btn {
    padding: 10px 46px;
    text-transform: capitalize;
    border-radius: 37px;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
}
/*UNIQUE CONF*/
/*SECTION HEADER*/
.header {
    position: absolute;
    width: 100%;
    top: 36px;
}
.header_logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-right: 117px;
}
.header_link {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}
.header_link:not(:last-child) {
    margin-right: 21px;
}
/*SECTION HEADER*/
/*SECTION HERO*/
.hero {
    height: 100vh;
    background: url("../images/hero.png") center/cover no-repeat;
    padding-top: 184px;
}
.hero .container {
    position: relative;
}
.hero_title {
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    text-transform: uppercase;
    width: 509px;
}
.hero_desc {
    font-size: 20px;
    line-height: 30px;
    text-align: start;
    width: 376px;
    margin: 35px 0;
}
.hero_filled {
    background: #FFA62B;
    color: #FFFFFF;
    border: 1px solid #FFA62B;
    margin-right: 10px;
}
.hero_hollow {
    border: 1px solid #00A0C1;
    color: #00A0C1;
}
.hero .row {
    position: absolute;
    width: 100%;
    gap: 30px;
    bottom: -19px;
}
.hero_card {
    height: 210px;
    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
    background: #FFFFFF;
    padding: 35px 0 35px 40px;
    transition: 0.6s;
}
.hero_card svg {
    fill: #00A0C1;
    transition: 0.6s;
}
.hero_sm_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin: 10px 0;
    transition: 0.6s;
}
.hero_sm_desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    transition: 0.6s;
}
.hero_card:hover {
    background: #00A0C1
}
.hero_card:hover svg {
    fill: #FFFFFF;
}
.hero_card:hover .hero_sm_title, .hero_card:hover .hero_sm_desc {
    color: #FFFFFF;
}
/*SECTION HERO*/
/*SECTION STATISTICS*/
.statistics {
    height: 526px;
    margin-top: 112px;
    padding: 80px 0;
}
.statistics .section_title {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.statistics .section_desc {
    width: 511px;
    margin: 10px 0 50px;
}
.statistics .row {
    gap: 39.66666px;
    width: 100%;
}
.statistics_card {
    height: 209px;
    padding: 30px 0;
    background: #FFFFFF;
}
.statistics_card_title {
    margin: 10px 0;
}
.statistics_card_suptitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #737373;
}
/*SECTION STATISTICS*/
/*SECTION ADVICE*/
.advice {
    height: 699px;
    padding: 125px 0 80px;
}
.advice .row {
    width: 100%;
    gap: 40px;
}
.advice_card {
    width: 100%;
    height: 341px;
    background: #FFFFFF;
}
.advice_card_info {
    padding: 30px 0 0 29px;
}
.advice .section_title {
    font-weight: 700;
    text-align: center;
}
.advice .section_desc {
    text-align: center;
    margin: 10px 0 45px;
}
.advice_card_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.advice_card_info .section_desc {
    text-align: left;
    width: 100%;
    margin: 15px 0 30px;
}
.advice_card_img {
    width: 230px;
    height: 138px;
}
/*SECTION ADVICE*/
/*SECTION ABOUT*/
.about {
    padding: 100px 0;
}
.about_title {
    width: 477px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    text-transform: none;
}
.about_desc {
    text-align: center;
    margin: 15px auto 100px;
    width: 511px;
}
.about_video {
    width: 597px;
    height: 442px;
    background: url("../images/about.png") center/cover no-repeat;
}
.about_content {
    gap: 120px;
}
.about_video-info {
    padding-top: 20px;
}
.about_content .about_title {
    width: 328px;
    text-align: left;
    margin: 0;
}
.about_video-desc {
    width: 330px;
    margin: 10px 0 50px;
}
.about-sm-title {
    width: 277px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-transform: none;
}
.about-sm-card_info {
    margin-left: 21px;
}
.about-sm-desc {
    font-weight: 600;
    line-height: 24px;
    margin-top: 5px;
}
.about_video-info .about_sm-card:nth-child(3) {
    margin-bottom: 30px;
}
/*SECTION ABOUT*/
/*SECTION CLIENTS*/
.clients {
    padding-top: 50px;
}
.clients_bottom {
    position: relative;
    height: 77px;
    background-color: #252B42;
    margin-top: 137px;
}
.clients_icon {
    position: absolute;
    width: 986px;
    height: 124px;
    background-color: #16697A;
    border-radius: 2px;
    padding: 30px 50px;
    z-index: 2;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.clients_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    width: 264px;
}
#email {
    height: 58px;
    width: 333px;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px 0 0 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
    padding-left: 20px;
}
.clients_btn {
    width: 117px;
    height: 58px;
    background: #FFA62B;
    border: 1px solid #E6E6E6;
    border-radius: 0 5px 5px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
/*SECTION CLIENTS*/
/*SECTION CONTACT*/
.contact {
    padding: 80px 0 148px;
    background: #F3F3F3;
}
.contact_title {
    font-weight: 700;
    text-align: center;
}
.contact_desc {
    text-align: center;
    margin: 10px 0 110px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 393px;
}
.contact_card {
    padding: 50px 0;
    background: #FFFFFF;
    transition: 0.6s;
}
.contact_card svg {
    fill: #00A0C1;
    margin-bottom: 15px;
    transition: 0.6s;
}
.contact_mail {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
    transition: 0.6s;
}
.contact_card_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
    margin: 15px 0;
    text-transform: capitalize;
    transition: 0.6s;
}
.contact_btn {
    padding: 10px 20px;
    border: 1px solid #FFA62B;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFA62B;
    text-transform: capitalize;
    transition: 0.6s;
}
.contact_card:hover {
    background: #252B42;
    padding: 80px 0;
    height: 393px;
}
.contact_card:hover svg {
    fill: #FFFFFF;
}
.contact_card:hover .contact_card_title {
    color: #FFFFFF;
}
.contact_card:hover .contact_mail {
    color: #FFFFFF;
}
.contact_card:hover .contact_btn {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
/*SECTION CONTACT*/